@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff; /* Light mode background */
  --text-color: #121212; /* Light mode text */
}

.dark {
  --bg-color: #121212; /* Dark mode background */
  --text-color: #e0e0e0; /* Dark mode text */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth theme transition */
}
