@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

/* Global styles */
body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
html.dark {
  --background: #000000; /* Dark background */
  --text: white; /* Light text for dark mode */
}

html {
  --background: white; /* Light background */
  --text: black; /* Dark text for light mode */
}
